body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    animation: changeColor 10s linear infinite;
    font-family: Arial, sans-serif;
    text-align: center;
}

@keyframes changeColor {
    0% { background-color: red; }
    20% { background-color: orange; }
    40% { background-color: yellow; }
    60% { background-color: green; }
    80% { background-color: blue; }
    100% { background-color: purple; }
}

.content {
    margin: 20% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h1 {
    color: #333;
}
#countdown {
    font-size: 24px;
    color: #777;
}
